# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# =====================
# Django
# =====================
*.sqlite3
*.log
/myproject/staticfiles/
/myproject/media/
local_settings.py

# =====================
# Entorno virtual
# =====================
proyectodjango/

# =====================
# IDEs — IntelliJ / PyCharm
# =====================
.idea/
*.iml
*.iws
*.ipr
out/

# =====================
# IDEs — VSCode
# =====================
.vscode/

# =====================
# IDEs — Eclipse
# =====================
.project
.pydevproject
.settings/

# =====================
# Sistema operativo
# =====================
.DS_Store
Thumbs.db
desktop.ini
