{% extends "base.html" %}
{% load static %}
{% block title %}{{ proyecto.titulo }}{% endblock %}
{% block page_content %}

<div class="container mt-4">
  <h1 class="mb-4">{{ proyecto.titulo }}</h1>
  <div class="row">
    <div class="col-md-8">
      <img src="{% static proyecto.imagen %}" alt="{{ proyecto.titulo }}" class="img-fluid rounded">
    </div>
    <div class="col-md-4">
      <h5>Sobre el Proyecto:</h5>
      <p>{{ proyecto.descripcion }}</p>
      <hr>
      <h5>Tecnologías usadas:</h5>
      <p>{{ proyecto.tecnologias }}</p>
      <a href="{% url 'projectIndex' %}" class="btn btn-secondary mt-2">← Volver al Portfolio</a>
    </div>
  </div>
</div>

{% endblock %}
