{% extends "base.html" %}
{% load static %}
{% block title %}Portfolio{% endblock %}
{% block page_content %}

<div class="container mt-4">
  <h1 class="mb-4">Portfolio</h1>
  <div class="row">
    {% for proyecto in proyectos %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="{% static proyecto.imagen %}" alt="{{ proyecto.titulo }}">
        <div class="card-body">
          <h5 class="card-title">{{ proyecto.titulo }}</h5>
          <p class="card-text">{{ proyecto.descripcion }}</p>
          <a href="{% url 'projectDetail' proyecto.pk %}" class="btn btn-primary">Leer más</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
